/*overall rules*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

header {
	background-color: #00005C;
	position: relative;

}

header h4 {
	text-align: center;
	color: #FFA193;
	height: 8vh;
	padding: 2.5vh 0 0 0vw;
	font-size: 1.5rem;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

nav {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	background-color: #00005C;
}

nav a {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	padding-top: 2vh;
	text-decoration: none;
}

nav a:hover {
	text-decoration: line-through;
}

nav a span {
	text-decoration: line-through;
}

/*hjem page*/

#first_section {
	text-align: center;
	padding-top: 8vh;
	margin: 0 0 10vh 0;
}

#first_section img {
	width: 65vw;
	text-align: center;
	margin: 8vh 0 4vh 0;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	color: #00005C;
	font-weight: 300;
	font-size: 3rem;
}

#first_section h2 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background-color: #FFA193;
	font-size: 2vh;
	margin-top: 2vh;
	padding-top: 0.5vh;
	height: 3.5vh;
	margin: 2vh 32vw 0 32vw;
}

#content_wrapper h3 {
	font-family: 'Ubuntu', sans-serif;
	color: #FFA193;
	font-weight: 300;
	font-size: 2.5rem;
	margin: 8vh 0 0 0;
}

#content_wrapper h4 {
	font-family: 'Ubuntu', sans-serif;
	color: #FFA193;
	font-weight: 300;
	font-size: 1.5rem;
}

h5 {
	color: #00005C;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.6vh;
}

h6 {
	color: #00005C;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6vh;
	text-align: right;
	font-weight: 400;
}

p {
	color: #00005C;
	font-family: 'Roboto', sans-serif;
	font-size: 1.9vh;
	line-height: 1.3;
	margin: 0 0 8vh 0;
}

#content_wrapper {
	padding: 0 10vw 0 10vw;
}

#content_wrapper img {
	width: 100%;
	margin: 0 0 2vh 0;
}


/*portfolio landingpage*/

#portfolio_section div:first-child {
	background: url(img/portfolio_landing_tema2.jpg) no-repeat center center;
	background-size: cover;
	height: 500px;
	margin: 0 0 2vh 0;
}

#portfolio_section div:nth-child(2) {
	background: url(img/portfolio_landing_tema3.jpg) no-repeat center center;
	background-size: cover;
	height: 500px;
	margin: 0 0 2vh 0;
}

#portfolio_section div:nth-child(3) {
	background: url(img/portfolio_landing_tema4.jpg) no-repeat center center;
	background-size: cover;
	height: 500px;
	margin: 0 0 2vh 0;
}

#portfolio_section div:nth-child(4) {
	background: url(img/portfolio_landing_tema5.jpg) no-repeat center center;
	background-size: cover;
	height: 500px;
}

#portfolio_section h3 {
	background-color: #00005C;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #FFA193;
	text-align: center;
	position: relative;
	top: 250px;
	height: 5vh;
	padding: 1vh 0 0 0;
}

/*portfolio page*/

#tema2_section #hero {
	background: url(img/portfolio_landing_tema2.jpg) no-repeat center center;
	background-size: cover;
	height: 500px;
}

#tema3_section #hero {
	background: url(img/portfolio_landing_tema3.jpg) no-repeat center center;
	background-size: cover;
	height: 500px;
}

#tema4_section #hero {
	background: url(img/portfolio_landing_tema4.jpg) no-repeat center center;
	background-size: cover;
	height: 500px;
}

#tema5_section #hero {
	background: url(img/portfolio_landing_tema5.jpg) no-repeat center center;
	background-size: cover;
	height: 500px;
}

#tema2_section h1 {
	background-color: #00005C;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #FFA193;
	text-align: center;
	position: relative;
	top: 250px;
	height: 5vh;
	padding: 1vh 0 0 0;
}

#tema3_section h1 {
	background-color: #00005C;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #FFA193;
	text-align: center;
	position: relative;
	top: 250px;
	height: 5vh;
	padding: 1vh 0 0 0;
}

#tema4_section h1 {
	background-color: #00005C;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #FFA193;
	text-align: center;
	position: relative;
	top: 250px;
	height: 5vh;
	padding: 1vh 0 0 0;
}

#tema5_section h1 {
	background-color: #00005C;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #FFA193;
	text-align: center;
	position: relative;
	top: 250px;
	height: 5vh;
	padding: 1vh 0 0 0;
}


/*om page*/



#om_section {
	text-align: center;
	padding-top: 8vh;
	margin: 0 0 10vh 0;
}

#om_section h1 {
	margin: 0 0 5vh 0;
}


/*overall rules*/

footer {
	background-color: #00005C;
	height: 20vh;
	padding: 5vh 3vw 0 0;
}

footer p {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: right;
	font-size: 0.5rem;
}


/*burgermenu*/

#menuknap {
	display: inline-block;
	cursor: pointer;
	font-size: 2.5em;
	color: #FFA193;
	float: right;
	padding-right: 15px;
	padding-top: 0px;
}

#menuknap:hover {
	color: #FFF;
}

#menu {
	list-style-type: none;
	transform-origin: top left;
	height: auto;
}

#menu a {
	float: left;
	display: block;
	padding: 0 8vw;
}

.hidden {
	display: none;
	transform: scale(0);
}


/*desktop version starts here*/

@media only screen and (min-width: 550px) {


	#first_section {
		max-width: 800px;
		margin: auto;
	}

	#portfolio_section,
	#tema2_section,
	#tema3_section,
	#tema4_section,
	#tema5_section {
		max-width: 800px;
		margin: auto;
	}
}
