* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

header {
	background-color: #00005C;
	position: relative;

}

header h4 {
	text-align: center;
	color: #FFA193;
	height: 8vh;
	padding-top: 2.5vh;
	font-size: 1.5rem;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

nav {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	background-color: #00005C;
}

nav a {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	height: 7vh;
	padding-top: 2vh;
	text-decoration: none;
}

nav a:hover {
	text-decoration: line-through;
}

nav a span {
	text-decoration: line-through;
}

#first_section {
	text-align: center;
	padding-top: 8vh;
}

#first_section img {
	width: 65vw;
	text-align: center;
	margin: 8vh 0 4vh 0;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	color: #00005C;
	font-weight: 300;
	font-size: 3rem;
}

#first_section h2 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background-color: #FFA193;
	font-size: 2vh;
	margin-top: 2vh;
	padding-top: 0.5vh;
	height: 3.5vh;
	margin: 2vh 32vw 0 32vw;
}

h5 {
	color: #00005C;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6vh;
}

footer {
	background-color: #00005C;
	height: 20vh;
	margin-top: 10vh;
	padding: 5vh 3vw 0 0;
}

footer p {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: right;
	font-size: 0.5rem;
}


@media (orientation: portrait) and (min-width: 500px) {}
